<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean id="item" class="com.vishal.SpringFirst.Item">
	    <property name="name" value="mobile" />
	    <property name="price" value="50000" />
	</bean>


	<bean id="order" class="com.vishal.SpringFirst.Order">
	    <property name="name" value="12345" />
	   <property name="item" ref="item" /> 
	</bean>

	<bean id="item1" class="com.vishal.SpringFirst.Item">
	    <property name="name" value="laptop" />
	    <property name="price" value="670000" />
	</bean>
  <bean id="order1" class="com.vishal.SpringFirst.Order">
	    <property name="name" value="order1" />
	       <property name="item" ref="item1" /> 
	    </bean>
	<!-- Enable Annotation based configuration -->
	<context:annotation-config />
</beans>